* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #e37222 0%, #66b9bf 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  height: 10vh;
  background-color: #07889b;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1vh solid #e37222;
}

p {
  line-height: 1.5;
  text-align: justify;
  font-size: 1rem;
}

div>p {
  line-height: 1.5;
  text-align: justify;
  font-size: 1rem;
}

.burgerMenu {
  font-size: 20px;
  cursor: pointer;
  color: white;
  width: max-content;
  margin-left: 0.5em;
  padding: 1%;
  display: none;
}

.container-master {
  display: flex;
  height: 89vh;
}

ul {
  padding-left: 2em;
  margin-top: 0.5em;
}

ol {
  padding-left: 2em;
  margin-top: 0.5em;
}

section {
  line-height: 1.5;
}

section>p {
  padding-left: 2em;
}

/*
**********************
*** SETUP SIDE BAR ***
**********************
*/

aside {
  width: 20vw;
  background-color: #66b9bf;
  padding: 1.5rem 0rem;
  transition: 0.5s;
}

aside a {
  color: whitesmoke;
  display: block;
  text-decoration: none;
  padding: 5%;
  border-top: 1px solid #e37222;
  border-bottom: 1px solid #e37222;
  list-style: none;
}

aside a:hover {
  color: #e37222;
  cursor: pointer;
}

.dropdownContainer {
  display: none;
  background-color: #07889b;
  padding-left: 8px;
}

/*
*****************
*** SETUP ISI ***
*****************
*/

.container {
  width: 80vw;
  height: 89vh;
}

.container-content {
  height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
  border: 0.5vh double #66b9bf;
  padding: 1.5vh;
}

.container-content table {
  width: 100%;
  text-align: center;
}

.container-content table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.container-content table th {
  background-color: #07889b;
  color: white;
}

.container-halaman {
  height: 10vh;
  background-color: #07889b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.judul-materi {
  border-bottom: 5px solid #e37222;
  background-color: #66b9bf;
  font-size: 1.5em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  margin-bottom: 1%;
}

.batas-dotted {
  margin-top: 2%;
  margin-bottom: 2%;
  border-top: 5px dotted #e37222;
}

.kotak-judul {
  background-color: #07889b;
  padding: 0.5%;
  border-radius: 10px;
  width: max-content;
  color: whitesmoke;
  align-items: center;
  font-size: 1em;
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.kotak-judul>img {
  width: 40px;
}

.kotak-petunjuk {
  border: 0.3vw solid #07889b;
  padding: 0.5% 2% 0.5% 2%;
  border-radius: 7px;
  color: black;
  font-size: 1em;
  line-height: 1.5;
}

.kotak-petunjuk>ol {
  padding: 0 5%;
}

.simpulan {
  border-right: 10px solid #eeaa7b;
  background-color: #66b9bf;
  padding: 2%;
  color: black;
  margin: 2% 0;
  text-align: justify;
  font-size: 1em;
}

.simpulan>ol {
  margin-left: 2em;
  padding-top: 1%;
  line-height: 1.5;
  font-size: 1em;
}

.simpulan>span>input {
  text-align: center;
  width: 10%;
}

.rumus {
  background-color: #e37222;
  color: white;
  width: 25%;
  padding: 1.5%;
  border: 5px dotted #07889b;
  text-align: center;
  float: left;
  margin-right: 1%;
}

.pembahasan {
  border-left: 10px solid #66b9bf;
  background-color: #eeaa7b;
  padding: 2%;
  color: black;
  margin: 1vw 0;
  text-align: justify;
  font-size: 1em;
  line-height: 1.5;
}

.pembahasan ol {
  padding-left: 1.5vw;
  font-size: 1em;
}


.card {
  padding: 1em;
  margin: 1em 0;
}

.card-soal {
  border: 2px solid #07889b;
  padding: 1em;
  margin: 1em 0;
}

.card-petunjuk {
  border: 0.2vw dotted #07889b;
  padding: 1%;
}

.card-pertanyaan {
  width: 98%;
  border: 0.2vw dashed #07889b;
  padding: 1%;
  margin: 1em 0;
}

.card-pertanyaan h3 {
  margin-bottom: 1em;
  border-bottom: 0.2vw dotted #66b9bf;
}

.card-pilihan {
  background-color: #e37222;
  padding: 1vw;
  margin: 0.5em 0;
}

.card-pilihan:hover {
  background-color: #eeaa7b;
}

.card-nilai {
  width: 98%;
  border: 0.2vw dashed #07889b;
  padding: 1%;
  margin: 1em 0;
}

.card-border-blue {
  border: 4px double #07889b;
  padding: 1em;
  margin: 1em 0;
}

.card-informasi {
  background-color: #d8e3e4;
  padding: 1em 2em;
  font-size: 1rem;
  color: black;
  border-radius: 5px;
  margin: 10px 0;
}

input {
  cursor: pointer;
}

.hide {
  display: none;
}

.bg-grey {
  background: #f3f3f3;
}

.bg-peach {
  background: #eeaa7b;
}

.bg-biru {
  background: #66b9bf;
}

.bg-orange {
  background: #e37222;
}

.bg-navy {
  background: #07889b;
}

.bg-hijau {
  background: green;
}

.bg-merah {
  background: red;
}

.bg-peach-border {
  border: 3px solid #eeaa7b;
}

.bg-biru-border {
  border: 3px solid #66b9bf;
}

.bg-orange-border {
  border: 3px solid #e37222;
}

.bg-navy-border {
  border: 3px solid #07889b;
}


/* SETUP FORM */

.form-box {
  margin: auto;
}

.form-wrapper {
  width: 30vw;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.form-judul {
  background-color: #e37222;
  border-bottom: 1vmin solid #eeaa7b;
  height: 10vh;
  text-align: center;
}

.form-isi {
  background-color: whitesmoke;
  height: 35vh;
  padding: 2em;
}

.form-isi>form>input {
  padding: 0.3em;
  margin: 0.2em 0 1em 0;
  width: 100%;
}

.form-isi>form>select {
  padding: 0.3em;
  margin: 0 0 1em 0;
  cursor: pointer;
  width: 100%;
}

.form-button>button {
  padding: 0.7em;
  border-style: none;
  background-color: #07889b;
  cursor: pointer;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-button>button:hover {
  background-color: #66b9bf;
}

/*
*********************
*** SETUP HALAMAN ***
*********************
*/

.halaman {
  height: 35%;
  width: fit-content;
  margin: 0.2%;
  padding: 0.5%;
  color: whitesmoke;
  border: 2px solid #e37222;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.halaman:hover {
  background-color: #e37222;
  color: black;
}

.active {
  background-color: #e37222;
  color: black;
}

.disable {
  cursor: not-allowed;
  opacity: 0.5;
}

/*
********************
*** SETUP TOMBOL ***
********************
*/

.btn-soal {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.btn-soal>button {
  margin-right: 2%;
  text-decoration: none;
  background: #66b9bf;
  border: none;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 5px;
}

.btn-soal>button:hover {
  border: 1px solid #66b9bf;
  background: white;
  cursor: pointer;
}


.card-soal-isi>button {
  border-style: none;
  padding: 0.5em;
  cursor: pointer;
  background: #e37222;
  margin: 0.5em;
  font-size: 1em;
}

.card-soal-isi>button:hover {
  border-style: none;
  padding: 0.5em;
  cursor: pointer;
  margin: 0.5em;
  font-size: 1em;
  border: 2px solid #e37222;
  background: none;
}

.btn-contoh {
  text-decoration: none;
  background: darkorange;
  border: none;
  padding: 0.25em;
  font-size: 1rem;
  border-radius: 5px;
  width: 50px;
}

.btn-contoh:hover {
  background-color: rgba(255, 140, 0, 0.212);
  cursor: pointer;
}

.btn-coba {
  text-decoration: none;
  background: #66b9bf;
  border: none;
  padding: 0.25em;
  font-size: 0.8rem;
  border-radius: 5px;
  width: 50px;
  margin-top: 10px;
}

.btn-coba:hover {
  background-color: rgba(245, 245, 245, 0.048);
  border: 2px solid #66b9bf;
  cursor: pointer;
}

.btn-coba2 {
  text-decoration: none;
  background: #e37222;
  border: none;
  padding: 0.25em;
  font-size: 0.8rem;
  border-radius: 5px;
  width: 50px;
  margin-top: 10px;
}

.btn-coba2:hover {
  background-color: rgba(245, 245, 245, 0.034);
  border: 2px solid #e37222;
  cursor: pointer;
}

.btn-ulang {
  text-decoration: none;
  border: none;
  color: white;
  background-color: red;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 5px;
  width: 70px;
}

.btn-ulang:hover {
  background-color: rgba(255, 140, 0, 0.212);
  border: 2px solid red;
  cursor: pointer;
  color: black;
}

.btn-reset {
  text-decoration: none;
  background: red;
  border: none;
  padding: 0.25em;
  font-size: 1rem;
  border-radius: 5px;
  width: 60px;
  color: whitesmoke;
}

.btn-reset:hover {
  background-color: rgba(255, 140, 0, 0.212);
  cursor: pointer;
  color: black;
}

/*
********************
*** SETUP MOBILE ***
********************
*/

@media screen and (max-width: 800px) {
  header {
    justify-content: left;
  }

  header h1 {
    display: none;
  }

  .burgerMenu {
    display: flex;
    align-items: center;
  }

  aside {
    position: absolute;
    width: 50vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 1s;
    font-size: 1em;
  }

  aside.kembali {
    transform: translateX(0);
    cursor: pointer;
  }

  .container {
    width: 100vw;
    height: 100vh;
  }

  .container-content {
    height: 96.5vh;
  }
}