.btn {
  border-style: none;
  padding: 0.5vmax 1vmax;
  border-radius: 10px;
  background-color: #e37222;
  cursor: pointer;
  font-weight: bold;
  color: white;
  margin-top: 1vmax;
}
.btn:hover {
  background-color: #07889b;
  color: black;
}
.btn-aktif {
  background-color: #07889b;
  color: black;
}
